@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* reset */

:root {
    --dark-green: #191c03;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 100%;
}

html {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}


/* img {
    width: 100%;
} */


/* HEADER */

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(255, 255, 255, .5);
}

header img {
    width: 200px;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: var(--dark-green);
}

nav ul li {
    margin: 0 15px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li:last-child {
    margin-right: 0;
}


/* HERO */

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../img/hero.jpg);
    background-position: top left;
    background-size: cover;
    background-attachment: fixed;
}

.hero__content {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.hero__content h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.hero__content h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.hero__content .btn__hero {
    font-size: 1rem;
    background-color: rgba(255, 255, 255, .8);
    color: var(--dark-green);
    padding: 20px 50px;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 20px 0;
    font-weight: bold;
    transition: .5s;
}

.hero__content .btn__hero:hover {
    opacity: 1;
}


/* RESPONSIVE */

@media screen and (max-width: 700px) {
    header {
        flex-direction: column;
    }
    nav {
        margin: 15px 0;
    }
    nav ul li:first-child {
        margin-left: 10px;
    }
    nav ul li:last-child {
        margin-right: 10px;
    }
    /* HERO */
    .hero__content {}
    .hero__content h1 {
        font-size: 1.5rem;
        margin-top: 100px;
    }
    .hero__content h3 {
        font-size: 1rem;
    }
}