@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* reset */

:root {
    --dark-green: #191c03;
    --light-green: #c3c63b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 100%;
}

html {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}


/* img {
    width: 100%;
} */


/* HEADER */

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(255, 255, 255, .5);
}

header img {
    width: 200px;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: var(--dark-green);
}

nav ul li {
    margin: 0 15px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li:last-child {
    margin-right: 0;
}


/* HERO */

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../img/hero.jpg);
    background-position: top left;
    background-size: cover;
    background-attachment: fixed;
}

.hero__content {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.hero__content h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.hero__content h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.hero__content .btn__hero {
    font-size: 1rem;
    background-color: rgba(255, 255, 255, .8);
    color: var(--dark-green);
    padding: 20px 50px;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 20px 0;
    font-weight: bold;
    transition: .5s;
}

.hero__content .btn__hero:hover {
    opacity: 1;
}


/* CONHEÇA MAIS */

.conheca__mais {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.conheca__mais h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    color: var(--dark-green);
    text-align: center;
}

.conheca__mais p {
    max-width: 800px;
    margin-bottom: 35px;
    color: var(--dark-green);
    text-align: center;
}

.conheca__mais hr {
    width: 200px;
    height: 2px;
    background-color: var(--dark-green);
    margin-bottom: 70px;
    border: none;
}

.conheca__mais .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.conheca__mais .grid li {
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.conheca__mais .grid li.small {
    flex-basis: 40%;
}

.conheca__mais .grid li.large {
    flex-basis: 60%;
}


/* CARACTERISTICAS */

.caracteristicas {
    background-color: var(--dark-green);
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.caracteristicas h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    color: #fff;
    text-align: center;
}

.caracteristicas p {
    max-width: 800px;
    margin-bottom: 35px;
    color: #fff;
    text-align: center;
}

.caracteristicas hr {
    width: 200px;
    height: 2px;
    background-color: #C3C532;
    margin-bottom: 70px;
    border: none;
}

.caracteristicas .grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.caracteristicas .grid li {
    background-color: #fff;
    margin: 0 15px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caracteristicas .grid li i {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--light-green);
}

.caracteristicas .grid li h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--light-green);
    text-align: center;
}

.caracteristicas .grid li p {
    text-align: center;
    color: #000;
}


/* NEWSLETTER */

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.newsletter h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    color: var(--dark-green);
    text-align: center;
}

.newsletter p {
    max-width: 800px;
    margin-bottom: 35px;
    color: var(--dark-green);
    text-align: center;
}

.newsletter hr {
    width: 200px;
    height: 2px;
    background-color: var(--dark-green);
    margin-bottom: 70px;
    border: none;
}

.newsletter form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 800px;
}

.newsletter form input {
    padding: 15px;
    border: 1px solid var(--light-green);
    border-radius: 4px;
    margin-right: 15px;
    flex: 1;
}

.newsletter .btn__newsletter {
    padding: 15px;
    background-color: var(--light-green);
    color: var(--dark-green);
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-green);
    align-items: center;
    padding: 50px 0;
    text-align: center;
}

footer ul {
    display: flex;
    margin-bottom: 25px;
}

footer ul li {
    margin-right: 15px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li a {
    font-size: 3rem;
}

footer ul li a i.fa-facebook {
    color: #4867AA;
}

footer ul li a i.fa-twitter {
    color: #2AA9E0;
}

footer ul li a i.fa-instagram {
    color: #5F3EC0;
}

footer p {
    color: var(--light-green);
}


/* RESPONSIVE */

@media screen and (max-width: 768px) {
    /* HEADER */
    header {
        flex-direction: column;
        position: fixed;
        background: #fff;
        z-index: 9999;
    }
    nav {
        margin: 15px 0;
        ;
    }
    nav ul li:first-child {
        margin-left: 10px;
    }
    nav ul li:last-child {
        margin-right: 10px;
    }
    /* HERO */
    .hero__content h1 {
        font-size: 1.5rem;
        margin-top: 100px;
    }
    .hero__content h3 {
        font-size: 1rem;
    }
    /* CONHEÇA MAIS */
    .conheca__mais .grid li.small,
    .conheca__mais .grid li.large {
        flex-basis: 100%;
    }
    /* CARACTERISTICAS */
    .caracteristicas .grid {
        flex-direction: column;
    }
    .caracteristicas .grid li {
        margin-bottom: 15px;
    }
    /* newsletter */
    .newsletter input {
        flex-basis: 100%;
        margin-bottom: 15px;
    }
}